<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea tu cita con nosotros</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/taller1.css' %}">
</head>

<body>
    <div class="container">
        <h1>Para cuándo quieres tu cita</h1>
        <form id="citaForm" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="fecha">Fecha de la cita:</label>
                {{ form.fecha }}
                {% if form.fecha.errors %}
                <div class="error">{{ form.fecha.errors.0 }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="hora">Hora de la cita:</label>
                {{ form.hora }}
                {% if form.hora.errors %}
                <div class="error">{{ form.hora.errors.0 }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="tipo_servicio">Servicio requerido:</label>
                {{ form.tipo_servicio }}
                {% if form.tipo_servicio.errors %}
                <div class="error">{{ form.tipo_servicio.errors.0 }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="comentarios">Comentarios adicionales:</label>
                {{ form.comentarios }}
            </div>
            <button type="submit">Crear Cita</button>
        </form>
    </div>

    <script src="{% static 'js/taller1.js' %}"></script>
</body>

</html>